<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Event Location
            <input th:field="${event.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>
    <div class="form-group">
        <label>Should The Attendees Register?
            <input type="checkbox" th:field="${event.shouldRegister}" class="form-control">
        </label>
        <p class="error" th:errors="${event.shouldRegister}"></p>
    </div>
    <div class="form-group">
        <label>Number of Attendees
            <input th:field="${event.numOfAttendees}" class="form-control">
        </label>
        <p class="error" th:errors="${event.numOfAttendees}"></p>
    </div>
    <div class="form-group">
        <label>Slices of Pizza Provided Per Person
            <input th:field="${event.pizzaPerPerson}" class="form-control">
        </label>
        <p class="error" th:errors="${event.pizzaPerPerson}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>